[submodule "roles/ansible_personal"]
	path = roles/ansible_personal
	url = git@github.com:Lab-Brat/ansible_personal.git
[submodule "roles/ansible_jenkins"]
	path = roles/ansible_jenkins
	url = git@github.com:Lab-Brat/ansible_jenkins.git
[submodule "roles/ansible_server"]
	path = roles/ansible_server
	url = git@github.com:Lab-Brat/ansible_server.git
[submodule "roles/ansible_flask"]
	path = roles/ansible_flask
	url = git@github.com:Lab-Brat/ansible_flask.git
[submodule "roles/ansible_postfix_dovecot"]
	path = roles/ansible_postfix_dovecot
	url = git@github.com:Lab-Brat/ansible_postfix_dovecot.git
